@using Proyecto_SKR.Models;
@model List<Requerimiento>

@{
    ViewBag.Title = "ConsultarRegistro";
}

<div class="jumbotron">
    <h1>Consultar Registro</h1>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row table-responsive">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Id Requerimiento</th>
                            <th scope="col">Gerente Comercial</th>
                            <th scope="col">Motivo Requerimiento</th>
                            <th scope="col">Cliente Nombre</th>
                            <th scope="col">Gerencia</th>
                            <th scope="col">Empresa Cliente</th>
                            <th scope="col">Email Cliente</th>
                            <th scope="col">Telefono Cliente</th>
                            <th scope="col">Perfil Solicitante</th>
                            <th scope="col">Carrera Solicitante</th>
                            <th scope="col">Nivel de Estudios</th>
                            <th scope="col">Años de Experiencia</th>
                            <th scope="col">Cantidad Recursos</th>
                            <th scope="col">Áreas Carrera</th>
                            <th scope="col">Certificaciones</th>
                            <th scope="col">Prioridad Req</th>
                            <th scope="col">Fecha Sol Req</th>
                            <th scope="col">Fecha Env Sol</th>
                            <th scope="col">Fecha Cie Req</th>
                            <th scope="col">Rango Edad</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Idiomas</th>
                            <th scope="col">Rango Tarifa</th>
                            <th scope="col">Rango Sueldo</th>
                            <th scope="col">Adicionales</th>
                            <th scope="col">Compu Trabajo</th>
                            <th scope="col">Fecha PCT</th>
                            <th scope="col">Redes Sociales</th>
                            <th scope="col">Fecha PRS</th>
                            <th scope="col">Pagina Web</th>
                            <th scope="col">Fecha PWeb</th>
                            <th scope="col">OCC Mundial</th>
                            <th scope="col">Fecha POccM</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td><a href="~/Home/BorrarRegistro?id_req=@i.id_req" class="btn btn-danger"><ins>Borrar</ins></a></td>
                                <td>@i.id_req</td>
                                <td>@i.gerente_comercial</td>
                                <td>@i.motivo_req</td>
                                <td>@i.cliente_nom</td>
                                <td>@i.gerencia</td>
                                <td>@i.empresa_cliente</td>
                                <td>@i.email_cliente</td>
                                <td>@i.telefono_cliente</td>
                                <td>@i.perfil_solicitante</td>
                                <td>@i.carrera_solicitante</td>
                                <td>@i.nivel_estudios</td>
                                <td>@i.tiempo_experiencia</td>
                                <td>@i.catidad_recursos</td>
                                <td>@i.areas_carreras</td>
                                <td>@i.certificaciones</td>
                                <td>@i.prioridad_requerimiento</td>
                                <td>@i.fecha_sol_req</td>
                                <td>@i.fecha_env_sol</td>
                                <td>@i.fecha_cierre_req</td>
                                <td>@i.rango_edad</td>
                                <td>@i.genero</td>
                                <td>@i.idiomas</td>
                                <td>@i.rango_tarifa</td>
                                <td>@i.rango_sueldo</td>
                                <td>@i.adicionales</td>
                                <td>@i.compu_trabajo</td>
                                <td>@i.compu_trabajo_fecha</td>
                                <td>@i.redes_sociales</td>
                                <td>@i.redes_sociales_fecha</td>
                                <td>@i.pagina_web</td>
                                <td>@i.pagina_web_fecha</td>
                                <td>@i.occ_mundial</td>
                                <td>@i.occ_mundial_fecha</td>
                                <td><a href="~/Home/Actualizar?id_empleado=@i.id_req" class="btn btn-warning"><ins>Actualizar</ins></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <a href="~/Home/Index" type="button" class="btn btn-danger btn-lg btn-block">Regresar</a>
    </div>
</div>

